/***************************index**************/
/* .logo {
  margin-right: 20%;
  padding: 10px 40px;
  width: 10%;
  height: 5%;
} */

.logo {
  margin-right: 20%;
  padding: 10px 10px;
  width: 20%;
  height: 30%;
}

.container1{
  border: 1px solid black;
  /* width: 50px; */
  padding: 90px;
  margin: 40px;
  margin-left: 30%;
  margin-right: 30%;
  /* margin-top: 30%; */
  background-color: #f9f9f9;
}
.container {
  display: flex;
  gap: 80px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;

  display: flex;
}

.navbar li {
  margin-left: 120px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.img {
  margin-left: 20px;
  width: 980px;
  height: 779px;
  gap: 20px;
}

.sign_button {
  padding: 20px;
  color: black;
  border-radius: 20px;
  gap: 20px;
  width: 300px;

}

.signing_container {
  margin: 100px;
  display: flex;
  gap: 15%;
}

/*

/***********************/

.form_contains {
  text-align: center;
}

.login_button {
  background-color: gray;
  padding: 20px;
  border-radius: 30px;
  width: 100px;
}

/********************************************************dropdown*********************/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightcyan;
}

.navbar {
  overflow: hidden;
  background-color: grey;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
 
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;

  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;

}

.dropdown-content a {
  float: none;
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.required:after {
  content: " *";
  color: red;
}

.form {
  display: flex;
  gap: 5px;
  margin-left: 20px;
}
input {
  padding: 15px 80px;
  border-radius: 10px;
  border: solid black 3px;
  gap: 20px;
  text-align: center;
}

.input {
 
  border-radius: 10px;

}

.signUp_button {
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 0, auto;
}

.container1 {
  text-align: center;
}

/****************************************************************************footer********************/

.footer {
  display: flex;
  background-color: grey;
  color: white;
  padding: 110px;
  gap: 30ps;
  margin-top: 160px;
}

.fa {
  padding: 30px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

.fa-github {
  background-color: black;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

textarea {
  width: 900px;
}

/****************/


@media screen and (min-width: 250px) and (max-width: 400px) {
  input {
    padding: 15px 15px;
    border-radius: 10px;
    border: solid black 3px;
    gap: 20px;
    text-align: center;
  }
  .container1{
    border: 1px solid black;
    /* width: 50px; */
    padding: 30px;
    margin: 2px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30%;
    background-color: #f9f9f9;
  }
  /* .sign_button {
    padding: 2px;
    color: black;
    border-radius: 20px;
    gap: 10px;
    width: 30px;
  
  }
   */
  .signing_container {
    margin: 100px;
    display: flex;
    gap: 10%;
  }
  .form_contains {
    text-align: left;
  }
  
  .login_button {
    background-color: gray;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
  }
}


@media screen and (min-width: 400px) and (max-width: 600px) {
  input {
    padding: 15px 15px;
    border-radius: 10px;
    border: solid black 3px;
    gap: 10px;
    text-align: center;
  }
  .container1{
    border: 1px solid black;
    /* width: 50px; */
    padding: 110px;
    margin: 2px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30%;
    background-color: #f9f9f9;
  }
  /* .sign_button {
    padding: 2px;
    color: black;
    border-radius: 20px;
    gap: 10px;
    width: 30px;
  
  }
   */
  .signing_container {
    margin: 100px;
    display: flex;
    gap: 10%;
  }
  .form_contains {
    text-align: left;
  }
  
  .login_button {
    background-color: gray;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
  }
}


@media screen and (min-width: 600px) and (max-width: 800px) {
  input {
    padding: 15px 15px;
    border-radius: 10px;
    border: solid black 3px;
    gap: 10px;
    text-align: center;
  }
  .container1{
    border: 1px solid black;
    /* width: 50px; */
    padding: 110px;
    margin: 2px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30%;
    background-color: #f9f9f9;
  }
  /* .sign_button {
    padding: 2px;
    color: black;
    border-radius: 20px;
    gap: 10px;
    width: 30px;
  
  }
   */
  .signing_container {
    margin: 100px;
    display: flex;
    gap: 10%;
  }
  .form_contains {
    text-align: center;
  }
  
  .login_button {
    background-color: gray;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  input {
    padding: 15px 15px;
    border-radius: 10px;
    border: solid black 3px;
    gap: 10px;
    text-align: center;
  }
  .container1{
    border: 1px solid black;
    /* width: 50px; */
    padding: 110px;
    margin: 2px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30%;
    background-color: #f9f9f9;
  }
  /* .sign_button {
    padding: 2px;
    color: black;
    border-radius: 20px;
    gap: 10px;
    width: 30px;
  
  }
   */
  .signing_container {
    margin: 100px;
    display: flex;
    gap: 10%;
  }
  .form_contains {
    text-align: center;
  }
  
  .login_button {
    background-color: gray;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
  }
}

@media screen and (max-width: 1050px){
  input {
    padding: 15px 15px;
    border-radius: 10px;
    border: solid black 3px;
    gap: 10px;
    text-align: center;
  }
  .container1{
    border: 1px solid black;
    /* width: 50px; */
    padding: 10px;
    margin: 2px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    background-color: #f9f9f9;
  }
  /* .sign_button {
    padding: 2px;
    color: black;
    border-radius: 20px;
    gap: 10px;
    width: 30px;
  
  }
   */
  .signing_container {
    margin: 100px;
    display: flex;
    gap: 10%;
  }
  .form_contains {
    text-align: center;
  }
  
  .login_button {
    background-color: gray;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
  }
}